{% extends "base.html" %} {% load static %} {% block title %} Events List
{%endblock title %} 

{% block header %} 
<!-- Callout-->
{% if request.user.is_authenticated %}
<section class="header-message callout">
  <div class="container px-4 px-lg-5 text-center">
    <h2 class="mx-auto mb-0">
      Welcome <em>{{request.user.username}}</em> to your Event Planner!
    </h2>
  </div>
</section>
{% else %} {% endif %}

{% endblock header %} 

{%block content %} 
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for event in events %}  
        <div class="col mb-5">
              
            <div class="card h-100">
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ event.date }}</div>

                  <!-- Product image-->
                  {% if event.image %}
                  <img class="card-img-top" src="{{ event.image.url }}" />
                  {% endif %}
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{ event.name }}</h5>
                          <p>Available Seats: {{ event.available_seats }} / {{ event.total_seats }}</p>
                          <!-- Product price-->
                          
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto mx-1" href="{% url 'event-detail' event_id=event.id %}">Details</a>
                        {% comment%}
                        <form action="" method="post">
                            {% endcomment%}
                        {% if request.user.is_authenticated %}
                            <a class="btn btn-success mt-auto mx-1" href="">Reserve Now</a>
                        {% else %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Reserve Now
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login Required</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please login to reserve a an event.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
                        {% endif %}
                        {% comment%}
                        </form>
                        {% endcomment%}
                      </div>
                      
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
  
</section>
 {% endblock content %}
