{% extends "base.html" %} 
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<section class="profile-masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static './assets/img/avataaars.svg' %}" style="max-width: 25%;"/>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">My Profile</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</section>

<h1>Change Password</h1>
<br/>
<div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Change Password</button>
    </form>
</div>




{% endblock %}